html {
    background-color: #171616;
    font-family: Arial, Helvetica, sans-serif;

}
html body a {
    text-decoration: none;
} 

/* Formatação header */
header nav ul  {
   display: flex;
   justify-content: center;
} 
header nav ul li  {
    margin: 5vw 4vw 1.5vw 4vw;
    
} 
header nav ul li a {
    color: rgb(197, 190, 190);
    font-size: large;
    letter-spacing: 0.3rem;
}
header nav ul li a:hover {
    text-shadow: 0 0 15px #28ff0c;
    transition: all 0.3s linear;
}



/* Formatação footer */

footer {
    background-color: #171616;
    padding: 6vw 0;
}
footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer ul li h3 {
    font-size: 2vw;
    margin: 1vw 0;
    font-weight: normal;
    color: #dfdfdf;
}
footer ul li:first-child p {
    margin: 1vw 0;
    color: #dfdfdf;
}
footer ul li:last-child p {
    color: antiquewhite;
}